extends layout

block content
  .main.container
    .row
    if channelTitle
        h1.display-4.m-b-2#listitem Channel #{channelTitle}: List of Items
        a#csvlink(href="/showxml") return
    else
        h1.display-4.m-b-2#listitem Radio #{radioTitle}: List of Items
        a#xmllink(href="/showcsv") return
    br
    if channelTitle
        table.table.table-bordered#table

            thead

                tr
                    th #

                    th Title

                    th Author

                    th Release date

                    th Description

                    th keywords

                    th Summary

                    th Validation
            each item, i in items
                tr.showitem(id=item['_id'])
                    td #{i+1}
                    td #{item['title']}
                    td #{item['author']}
                    td #{item['pubDate']}
                    td #{item['description']}
                    td #{item['keywords']}
                    td #{item['summary']}
                    td #{item['valid']}
    else
         table.table.table-bordered#table

            thead

                tr
                    th #

                    th Title

                    th Duration

                    th Release date

                    th Description

                    th Summary

                    th Validation
            each item, i in items
                tr.showitem(id=item['_id'])
                    td #{i+1}
                    td #{item['title']}
                    td #{item['duration']}
                    td #{item['pubDate']}
                    td #{item['description']}
                    td #{item['summary']}
                    td #{item['valid']}
        
                       
    