extends layout

block content
  .main.container
    .contentcsv
        .row
            a(href="/") Homepage
            h1.display-4.m-b-2#listchannel List of CHANNELS
        
        table.table.table-bordered#table
            thead

                tr
                    th

                    th Title

                    th Author

                    th Release date

                    th category

                    th Actions
            each channel, i in channels
                tr(id=channel['_id'])
                    td#deetail
                    td #{channel['title']}
                    td #{channel['author']}
                    td #{channel['release_date']}
                    td #{channel['categories']}
                    td.action
                        a.view(href='/showItems/'+channel['_id']) 
                            i.fa.fa-th-list(aria-hidden='true' ) 
                            | &nbsp;&nbsp;&nbsp;view items
                        br
                        br
                        a.edit(href='show/edit/'+channel['_id'])
                            i.fa.fa-pencil(aria-hidden='true' class="fas fa-stroopwafel fa-lg") 
                        | &nbsp;&nbsp;&nbsp; 
                        | &nbsp;&nbsp;&nbsp;
                        | &nbsp;&nbsp;&nbsp;
                        i.fa.fa-trash.delete(aria-hidden='true' class="fas fa-stroopwafel fa-lg") 
                            
                        
                        
    .se-pre-con
   
    script(src="/javascripts/showJQ.js")
        
                       
    