extends layout

block content
  .main.container
    .contentcsv
        .row
            a(href="/") Homepage
            h1.display-4.m-b-2#listradio List of Radios
        
        table.table.table-bordered#table

            thead

                tr

                    th #

                    th Title

                    th Author

                    th Release date

                    th category

                    th Description

                    th keywords

                    th Errors
            each radio, i in radios
                tr.showitemcsv(id=radio['_id'])
                    td #{i+1}
                    td #{radio['title']}
                    td #{radio['author']}
                    td #{radio['release_date']}
                    td #{radio['categories']}
                    td #{radio['description']}
                    td #{radio['keywords']}
                    td 
                        if radio['errorsMsg'].length
                            each err in radio['errorsMsg']
                                p(style="color:red") #{err['code']}: #{err['msg']}
                        else
                            p(style="color:green") this radio is valid
                    
    .se-pre-con
   
    script(src="/javascripts/loadingcsv.js")
    script(src="/javascripts/datatableShowErr.js")
        
                       
    