extends layout

block content
  .main.container
    .row
        h1.display-4.m-b-2#listradio List of channels
    
    table.table.table-bordered#table

        thead

            tr
                th #

                th Title

                th Author

                th Release date

                th category

                th Description

                th keywords
        if radios.length
        each radio, i in radios
            tr.showitemcsv(id=radio['_id'])
                td #{i+1}
                td #{radio['title']}
                td #{radio['author']}
                td #{radio['release_date']}
                td #{radio['categories']}
                td #{radio['description']}
                td #{radio['keywords']}
        
                       
    