extends layout

block content
  .main.container
    .contentcsv
        .row
            a(href="/") Homepage
            h1.display-4.m-b-2#listchannel List of CHANNELS
        
        table.table.table-bordered#table
            thead

                tr
                    th

                    th Title

                    th Author

                    th Release date

                    th category

                    th keywords

                    th Actions
            each channel, i in channels
                tr(id=channel['_id'])
                    td#deetail
                    td  #{channel['title']}
                    td #{channel['author']}
                    td #{channel['release_date']}
                    td #{channel['categories']}
                    td #{channel['keywords']}
                    td 
                        a(href='show/showitem/'+channel['_id']) view items
                        
                        
    .se-pre-con
   
    script(src="/javascripts/loadingcsv.js")
        
                       
    