extends layout

block content
  .main.container
    .row
        a(href="/") Homepage
        h1.display-4.m-b-2#listradio List of channels
    
    table.table.table-bordered#table

        thead

            tr
                th #

                th Title

                th Author

                th Publication date

                th Description

                th summary

                th Errors
        each channel, i in channels
            tr.showitemxml(id=channel['_id'])
                td #{i+1}
                td #{channel['title']}
                td #{channel['author']}
                td #{channel['pubDate']}
                td #{channel['description']}
                td #{channel['summary']}
                td.err 
                    if channel['errorsMsg'].length
                        each err in channel['errorsMsg']
                            p(style="color:red") #{err['code']}: #{err['msg']}
                    else
                        p(style="color:green") this Channel is valid
        
                       
    